<ion-view view-title="Auction View">
  <ion-content ng-controller = "PlaylistsCtrl2">
      <div class="bar header">
        <h3>{{scope.stories2[0].title}}</h3>
      </div>
      <div class="item item-image">
        <img src="http://lorempixel.com/120/120/people/" style="100%"/>
      </div>
      <div class="item row">
        <button class="button button-clear"><i class="icon ion-ios-heart"></i></button>
      </div>
      <div class="item row">
        <button class="button button-clear"></button>
        <button class="button button-clear"></button>
      </div>
      <div class="item item-text-wrap">
        <p>sdaasdasdfsdfsafgsafgdsfgafgfadgdfasdfsagfgdsadfgasdfdkfbsajhbdkhfsakjbjbgakjfsbbsgkbfgabkfjbgsbdfgbakjdfgsbddgbfa</p>
      </div>
      
      <div class="item item-divider">
        
      </div>
  </ion-content>
</ion-view>
