<ion-view view-title="Auctions">
  <ion-content>
      <ion-list>
        <div ng-repeat="auction in playlists">
            <div class="row gallery" style="padding: none;" ng-if="$even">
                <ion-item class="col col-50" href="#/app/playlists/{{playlists[$index].id}}" style="padding: 2px !important;border-radius: 8px;margin-left=1px;margin-right:4px;">
                    <h3>{{playlists[$index].title}}</h3>
                    <img style="width: 100%;" src="{{playlists[$index].src}}">
                    <i class="icon icon-left ion-social-euro item-text-wrap"> {{playlists[$index].price}}</i></br>
                    <i class="icon icon-left ion-clock item-text-wrap"> {{playlists[$index].timeLeft}}</i>
                </ion-item>
                <ion-item class="col col-50" href="#/app/playlists/{{playlists[$index+1].id}}" style="border-radius: 8px;margin-right=1px;margin-left:4px;">
                    <h3>{{playlists[$index+1].title}}</h3>
                    <img style="width: 100%;" src="{{playlists[$index].src}}">
                    <i class="icon icon-left ion-social-euro item-text-wrap"> {{playlists[$index+1].price}}</i></br>
                    <i class="icon icon-left ion-clock item-text-wrap"> {{playlists[$index+1].timeLeft}}</i>
                </ion-item>
            </div>
        </div>
      </ion-list>
  </ion-content>
</ion-view>

<!--<ion-item class="col col-50" href="#/app/playlists/{{playlists[$index+1].id}}">
                    <h3>{{playlists[$index+1].title}}</h3>
                    <img src="{{playlists[$index+1].src}}">
                    
                    <div class="row">
                        <div class="col col-25 icon icon-left ion-social-euro button button-positive item-text-wrap">{{playlists[$index+1].price}}</div>
                        <div class="col col-75 icon icon-left ion-social-clock button button-positive item-text-wrap">{{playlists[$index+1].timeLeft}}</div>
                    </div>-->