<ion-view view-title="Auction View">
  <ion-content ng-controller = "PlaylistCtrl">
      <div style="height: 64px;"></div>
      <div class="bar header">
        <h3>{{detailService.title}}</h3>
      </div>
      <div class="item item-image">
        <img src="{{detailService.img}}" style="100%"/>
      </div>
      <div class="item row">
        <button class="button button-clear"><i class="icon ion-ios-heart"></i></button>
      </div>
      <div class="item row">
        <button class="button button-clear"></button>
        <button class="button button-clear"></button>
      </div>
      <div class="item item-text-wrap">
        <p>{{detailService.description}}</p>
      </div>
      
      <div class="item item-divider">
        
      </div>
  </ion-content>
</ion-view>
