<ion-view view-title="Auctions">
  <ion-content header-shrink scroll-event-interval="5">
        <div style="height: 64px;"></div>
      <ion-list ng-controller="readJson">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="loadNewerStories()">
        </ion-refresher>
        <div class="list" ng-repeat="story in stories">
                <a class="item item-thumbnail-left"         href="#/app/playlists/{{story.id}" ng-click="getDetail(story)">
                    <img ng-src="{{story.img}}" ng-if="story.img.startsWith('http')">
                    <h2>{{story.title}}</h2>
                    <p>{{story.url}}</p>
                </a>
        </div>
        <ion-infinite-scroll on-infinite="loadOlderStories()" distance="1%">
        </ion-infinite-scroll>
      </ion-list>
  </ion-content>
</ion-view>

<!--


<ion-view view-title="Auctions">
  <ion-content>
      <ion-list ng-controller="readJson">
        <div ng-repeat="story in stories">
            <div class="row gallery" style="padding: none;" ng-if="$even">
                <ion-item class="col col-50" href="#/app/playlists/{{playlists[$index].id}}" style="padding: 2px !important;border-radius: 8px;margin-left=1px;margin-right:4px;">
                    <h3>{{story.title}}</h3>
                    <img style="width: 100%;" src="{{playlists[$index].src}}">
                    <i class="icon icon-left ion-social-euro item-text-wrap"> {{playlists[$index].price}}</i></br>
                    <i class="icon icon-left ion-clock item-text-wrap"> {{playlists[$index].timeLeft}}</i>
                </ion-item>
                <ion-item class="col col-50" href="#/app/playlists/{{playlists[$index+1].id}}" style="border-radius: 8px;margin-right=1px;margin-left:4px;">
                    <h3>{{playlists[$index+1].title}}</h3>
                    <img style="width: 100%;" src="{{playlists[$index].src}}">
                    <i class="icon icon-left ion-social-euro item-text-wrap"> {{playlists[$index+1].price}}</i></br>
                    <i class="icon icon-left ion-clock item-text-wrap"> {{playlists[$index+1].timeLeft}}</i>
                </ion-item>
            </div>
        </div>
      </ion-list>
  </ion-content>
</ion-view>

-->